h2 {
  background-color: #5e5e5e;
  color: white;
  margin: 15px 15px 15px 0px;
  padding: 5px 0 5px 10px;
}

h2 a, h2 a:hover {
  color: white;
}

div.truck-row {
  margin: 15px 0;
}

.thumbnail {
  border: none;
}