@media (max-width: 990px) {
  .large-screen-only {
    display: none;
  }
}

@media (min-width: 990px) {
  .large-screen-only {
    display: table-cell;
  }
}

.edit-button-bar {
  min-width: 100px;
}

.calendar-cell {
  min-width: 130px;
}

.calendar-cell-other-month {
  background-color: #eee;
}

.calendar-day {
  font-weight: bold;
}