.cftf-header {
  background-color: #333;
  color: #f2f2f2;
}

.cftf-header  a {
  color: #f2f2f2;
}

.navbar-nav > li > a:hover, .navbar-nav > li.active > a {
  background-color: black;
}

.cftf-main-container {
  padding-top:60px;
}
/* adjusts the background color of the dropdown when open */
.nav > .open>a {
  background-color: black !important;
}

address.locationName {
    font-weight: bold;
    font-size: 110%;
}

.truckLeft {
    margin-left: 50px;
}

address {
    margin: 0; padding:  0;
}

dd {
    margin-bottom: 5px;
}

dt {
    margin-top: 10px;
}

.fb-like {
    margin-top: 4px;
}

.infoWindowContent {
 margin: 10px;
}